{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="main">
         <h2>
             Виды работ, которые мы оказываем
         </h2>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <ul class="work-types">
                    <li>Москитные сетки 
                        <p class="work-types-2lvl">
                            Заказать москитную сетку в нашей компании – значит оперативно получить качественно оказанную услугу за оптимальную цену. 
                            Мы предлагаем расходные материалы надежного производства с  длительным сроком годности и отличными техническими характеристиками.
                            Возможен выбор по цвету, размеру ячеек, толщине полотна, способам крепления и модификациям конструкций.
                            В каждом случае наш мастер готов дать профессиональную консультацию, обосновав тот или иной выбор.

                            Мы устанавливаем противомоскитные сетки в зданиях любой этажности, снаружи и внутри помещения. Для работ на высоте имеем необходимые разрешения.

                            Если монтаж новых конструкций планируется на месте старых, мы готовы провести их разукомплектование и обеспечить правильную утилизацию отработавших компонентов.
                            Мы не возлагаем заботы об отходах на наших заказчиков, потому что знаем: экологическое благополучие внешней среды имеет первостепенную важность.
                        </p>
                    
                    </li>
                    <li>Аксессуары для окон
                        <p class="work-types-2lvl">
                        Аксессуары – необходимые составляющие любого окна. Мы готовы установить своим клиентам вентиляционные клапаны, 
                        любого вида ручки, замки, в том числе с блокирующей функцией. Предлагаем также ухаживающие средства и много мелочей, делающих эксплуатацию окна приятной.</p>
                    
                    </li>
                    <li>Регулировка окон
                        <ul class="work-types-2lvl">
                                <li>«гуляющие по квартире» сквозняки из-за неплотного прижима уплотнителей;</li>
                                <li>заедание или затирание механизмов закрытия;</li>
                                <li>необходимость прикладывания усилий, чтобы закрыть окно, даже летом;</li>
                                <li>выпадение верхнего петлевого угла при установке режима проветривания;</li>
                                <li>разлаженная работа поворотной ручки.</li>
                        </ul>
                    
                    </li>
                    <li>Замена уплонителей на окнах
                        <p class="work-types-2lvl">
                            При монтаже новых окон влагонепроницаемые вставки для уплотнения области стыков устанавливают сразу еще на этапе производства.
                             А как быть, когда эти заводские элементы пришли в негодность? Установить новые отдельно.
                             Мы предоставляем на выбор оконные уплотнители от различных производителей, нескольких цветовых вариаций. Вы оцените высокое качество результата!
                        </p>
                    
                    </li>
                    <li>Замена стеклопакетов
                        <ul class="work-types-2lvl">
                            <li>снятие мерок, включая большие размеры окон;</li>
                            <li>демонтаж конструкций, пришедших в негодность;</li>
                            <li>подготовительные работы на оконном проеме;</li>
                            <li>непосредственное изготовление заказа;</li>
                            <li>доставка его к месту назначения;</li>
                            <li>установка стеклопакетов;</li>
                            <li>крепление створок;</li>
                            <li>регулировка рабочих моментов;</li>
                            <li>установка подоконников, водоотливов и прочих дополнительных механизмов;</li>
                            <li>обработка монтажных швов строительной пеной (для герметичности), лентами ВУЛ и ПУЛ (с целью паро- и гидроизоляции);</li>
                            <li>оформление откосов;</li>
                            <li>установка противомоскитных сеток.</li>
                        </ul>
                    
                    
                    </li>
                    <li>Ремонт окон
                        <ul class="work-types-2lvl">
                            <li> из окна дует, ветер заносит внутрь помещения пыль;</li>
                            <li> увеличилась слышимость уличного шума;</li>
                            <li> плохо функционируют прижимные механизмы;</li>
                            <li> не работают ручки;</li>
                            <li> стеклопакет имеет трещину либо глубокие царапины;</li>
                            <li> износились противомоскитные сетки;</li>
                            <li> появилась щель между подоконником и окном или подоконником и оконным проемом в стене дома.</li>


                        </ul>
                    
                    </li>
                    <li>Выезд мастера
                        <ul class="work-types-2lvl">
                                <li>Бесплатное консультирование по сути проблемы либо техническая диагностика оконной конструкции;</li>
                                <li>Проведение необходимых замеров;</li>
                                <li>Расчет стоимости предстоящей работы и заключение договора;</li>
                                <li>Доставка выбранных материалов на адрес и непосредственный монтаж;</li>
                                <li>Оформление откосов, установка аксессуаров.</li>
                                <li>Сделайте заказ в нашей компании и мы найдем самый выгодный для вас вариант решения вопроса.</li>
                        </ul>
                    </li>


                </ul>
            </div>
 
        </div>

    </div>
{% endblock content %}